body {
    padding: 10px;
}

.auction {
    border: 1px solid black;
    padding: 10px; 
    margin-bottom: 10px;
    display: flex;
    border-radius: 1rem;
    
}

.auction:hover {
    background-color: rgb(241, 241, 241);
}

a.auction-link {
    text-decoration: none;
    color: inherit;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
}

.category-text {
    text-align: center;
    text-decoration: none;
}

.auction-info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-form {
    display: flex;
  
    align-items: center;
}

.form label {
    display: block; 
    font-weight: bold;
}

.form input[type="text"], input[type="number"], input[type="url"], select, textarea {
    width: 700px; 
    height: 40px;
    margin: 7px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
}

.submit-btn {
    background-color: #a1a7ad; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #61778d;
}

.price-tag {
    display: block; 
    font-weight: bold;
    font-size: 24px;
}

.comment-section {
    width: 80%;
    margin-bottom: 20px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment .commenter {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment .comment-text {
    color: #333;
}

.comment .timestamp {
    font-size: 12px;
    color: #666;
}


