{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="category-text">Categories</h2>

    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <a href="{% url 'category_page' category.id %}">
                    <div>
                        <img src="{{ category.image_url }}" alt="{{ category.title }}" style="width: 200px; height: 200px;">
                    </div>
                    <div class="category-text">
                        <p>{{ category.name }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}