{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category.name }}</h2>

    <div>
        {% for auction in auctions %}
            <a href="{% url 'listing_view' auction.id%}" class="auction-link">
                <div class="auction">
                    {% if auction.image_url %}
                        <div>
                            <img src="{{ auction.image_url }}" alt="{{ auction.title }}" style="width: 150px; height: 150px">
                        </div>
                    {% endif %}
                    <div class="auction-info">
                        <strong>{{ auction.title }}</strong>
                        {% if auction.highest_bid %}
                            <p style="margin: 0;">Current bid: ${{ auction.highest_bid }}</p>
                        {% else %}
                            <p style="margin: 0;">Starting bid: ${{ auction.starting_bid }}</p>
                        {% endif %}
                        {% if auction.status == 'Open' %}
                            <p>Status: {{ auction.status }} 🟢</p>
                        {% else %}
                            <p>Status: {{ auction.status }} 🔴</p>
                        {% endif %}
                        <p style="font-size: 14px; color:gray;">Created {{ auction.date_created }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}