{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div>
        {% for auction in auctions %}
            <a href="{% url 'listing_view' auction.id%}" class="auction-link">
                <div class="auction">
                    <p>{{ auction.title }}</p>
                    <p>Price: ${{ auction.starting_bid }}</p>
                    <p>Created {{ auction.date_created }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}