{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auction.title }}</h2>
    {% if is_in_watchlist %}
        <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove from Watchlist">
        </form>
    {% else %}
        <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Add from Watchlist">
        </form>
    {% endif %}
    <div>
        <p>{{ auction.description }}</p>
        <p>${{ auction.starting_bid }}</p>

        <h5>Details:</h5>
        <ul>
            <li>Listed by {{ auction.auctioneer }}</li>
            <li>Category: {{ auction.category }}</li>
            <li>Created {{ auction.date_created }}</li>
        </ul>
    </div>
{% endblock %}