{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auction.title }}</h2>
    {% if user.is_authenticated %}
        {% if is_in_watchlist %}
            <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove from Watchlist">
            </form>
        {% else %}
            <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add from Watchlist">
            </form>
        {% endif %}
    {% endif %}
    <div>
        <p>{{ auction.description }}</p>
        {% if current_bid %}
            <p>${{ current_bid }}</p>
        {% else %}
            <p>${{ auction.starting_bid }}</p>
        {% endif %}
        <form action="{% url 'place_bid' auction.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Place Bid">
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h5>Details:</h5>
        <ul>
            <li>Listed by {{ auction.auctioneer }}</li>
            <li>Category: {{ auction.category }}</li>
            <li>Created {{ auction.date_created }}</li>
        </ul>
    </div>
{% endblock %}