{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auction.title }} [{{ auction.status }}]</h2>
    {% if auction.winner %}
        <h5>Winner: {{ auction.winner }}</h5>
    {% endif %}
    {% if user.is_authenticated %}
        {% if is_in_watchlist %}
            <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
                {% csrf_token %}
                <input class="submit-btn" type="submit" value="Remove from Watchlist">
            </form>
        {% else %}
            <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
                {% csrf_token %}
                <input class="submit-btn" type="submit" value="Add from Watchlist">
            </form>
        {% endif %}
    {% endif %}

    {% if auction.image_url %}
        <div>
            <img src="{{ auction.image_url }}" alt="{{ auction.title }}" style="width: 20%; height: 20%;">
        </div>
    {% endif %}
    <div>
        <p>{{ auction.description }}</p>
        {% if current_bid %}
            <p class="price-tag">${{ current_bid }}</p>
        {% else %}
            <p class="price-tag">${{ auction.starting_bid }}</p>
        {% endif %}
        {% if auction.status == 'Open' and request.user != auction.auctioneer %}
            <form class="form" action="{% url 'place_bid' auction.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="display: flex;">
                    <input class="submit-btn" type="submit" value="Place Bid">
                    <p style="margin: 5px;">{{ total_bids }} bid(s) so far.</p>
                </div>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <h5 style="padding-top: 10px;">Details:</h5>
        <ul>
            <li>Listing Status: {{ auction.status }}</li>
            <li>Category: {{ auction.category }}</li>
            <li>Listed by {{ auction.auctioneer }}</li>
            <li>Created {{ auction.date_created }}</li>
        </ul>
    </div>
    {% if request.user == auction.auctioneer and auction.status == 'Open' %}
    <div>
        <form action="{% url 'close_listing' auction.id%}" method="POST">
            {% csrf_token %}
            <input class="submit-btn" type="submit" value="Close Listing">
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}
    <div>
        <form class="form" action="{% url 'add_comment' auction.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input class="submit-btn" type="submit" value="Add Comment">
        </form>
        {% if comments %}
            <div class="comment-section">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="commenter">{{ comment.commenter}}</div>
                        <div class="comment-text">{{ comment.comment }}</div>
                        <div class="timestamp">{{ comment.comment_time}}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}